@import "tailwindcss";

/* Ajuste para garantir altura total */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Scrollbar customizada opcional */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}